<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
    <i class="fa fa-heart fa-lg"></i>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "/posts", class: "nav-link" do %>
            <i class="fa fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "#", class: "nav-link" do %>
            <i class="fa fa-envelope"></i> Messages
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "/posts/new", class: "nav-link" do %>
            <i class="fa fa-plus-circle"></i> New Post
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>


        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
