
<div class="container" style= "width: 450px">
<%= form_tag posts_path, method: :get do %>

  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Location"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>

  <div class="cards">
      <% @posts.each do |post| %>
        <div class="card-product">
          <i class="fa <%= post.category.icon %>"></i>
            <div class="card-product-infos">
              <h2><%= post.title %></h2>
              <div class= "post-description">
                <p><%= post.description %></p>
              </div>
              <p><%= link_to "more", post_path(post) %></p>
              <p>Location: <%= post.location %></p>
              <p><%= User.find(post.user_id).email %></p>
              <p>Posted <%= distance_of_time_in_words(Time.now, post.created_at, only: [:days])%> ago</p>
            </div>
        </div>
      <% end %>
    </div>
