
<div class= "icon_filters">
    <%= link_to posts_path(category_id: "66") do %>
      <i class="fas fa-language fa-2x" id="icon"></i>
      <p style="text-align:center">Language</p>
    <% end %>
      <%= link_to posts_path(category_id: "67") do %>
      <i class="fas fa-comments fa-2x" id="icon"></i>
      <p style="text-align:center">Network</p>
    <% end %>
    <%= link_to posts_path(category_id: "68") do %>
      <i class="fas fa-futbol fa-2x" id="icon"></i>
      <p style="text-align:center">Sports</p>
    <% end %>
    <%= link_to posts_path(category_id: "69") do %>
      <i class="fas fa-briefcase fa-2x" id="icon"></i>
      <p style="text-align:center">Job</p>
    <% end %>
    <%= link_to posts_path(category_id: "70") do %>
      <i class="fas fa-child fa-2x" id="icon"></i>
      <p style="text-align:center">Family</p>
    <% end %>
  </div>


<div class="container">
  <%= simple_form_for :query, url: posts_path, method: :get do |f| %>
    <div class="search-form-control form-group my-3 mx-2">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control string required",
      placeholder: "Location"
    %>
    <div class= "col text-center">
      <button name="button" type="submit" class="btn btn-sm btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
    </div>

    </div>
  <% end %>

  <div class="cards">
      <% @posts.desc.each do |post| %>
        <div class="card-product">
          <i class="fa <%= post.category.icon %>"></i>
            <div class="card-product-infos">
              <h3><%= post.title %></h3>
              <div class= "post-description">
                <p><%= post.description %></p>
              </div>
                  <p><%= link_to "more", post_path(post) %></p>
              <p></p>
              <p><%= post.user.location %> - Posted <%= distance_of_time_in_words(Time.now, post.created_at, only: [:days])%> ago</p>
            </div>
        </div>
      <% end %>
    </div>
</div>
