
<div class="cards">
  <% @posts.each do |post| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <h2><%= post.title %></h2>


          <p><%= post.description %></p>
          <p><%= link_to "more", post_path(post) %></p>
          <p><%= current_user.email %></p>
          <p>Posted <%= distance_of_time_in_words(Time.now, post.created_at, only: [:days])%> ago</p>

        </div>
    </div>
  <% end %>

</div>
