
<div class="container">
  <div class="row mt-5 m-2">
    <div class="col-sm-12 col-md-12 col-lg-6">

    <% if @post.user.picture.blank? %>
      <%= image_tag("avatar-default.jpeg", :class=> "avatar") %>
      <% else %>
      <%= image_tag(@post.user.picture, :class=> "avatar") %>
      <% end %>
      <% if @post.is_offer? %>
      <em><%= "I would like to offer"%></em>
      <% else %>
      <em><%= "I am searching for"%></em>
      <% end %>

      <h3><i class="fa <%= @post.category.icon %>"></i> <%= @post.title %></h3>
      <i class="fa fa-map-marker"></i><p><%= @post.user.style_address %></p>
      <i class="fa fa-address-card"></i><p><%= @post.user.email %></p>
      <i class="fa fa-phone"></i><p><%= @post.user.phone %></p>
      <i class="fa fa-calendar"></i><p><%= @post.created_at.to_date %></p>
      <p><%= @post.description %></p>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 mb-4">
      <div style="width: 100%; height: 600px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @marker.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
